* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
}

header {
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 100;
}

#logo {
    margin-left: 2.5%;
    width: 200px;
    height: 60px;
}

nav {
    width: 100%;
    margin-left: 3.5%;
}

nav ul {
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    list-style: none;
    font-weight: bold;
    margin-right: 15px
}
a{
    color: grey;
    text-decoration: none;
    font-size: 1.2rem;
}
a:hover{
    opacity: 0.8;
}
a:visited{
    color:rgb(255, 255, 255);
}


.icon-search {
    width: 300px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-right: 5%;
}
.icon-search p, .icon-search span{
    cursor:pointer;
}
#Perfil img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    margin-right: 20%;
}