.lista-pelis{
    width: 100%;
    height: fit-content;
    padding-top: 100px;
    background-color: transparent;
}
.lista-pelis h2{
    margin-left: 4%;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}
.lista-pelis h2:hover{
    opacity: 1;
}
.lista-pelis-2{
    width: 100%;
    height: fit-content;
    padding-top: 15px;
    background-color: transparent;
}
.lista-pelis-2 h2{
    margin-left: 4%;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}
.lista-pelis-2 h2:hover{
    opacity: 1;
}
.contenedor-pelis{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}
.card-pelis{
    width: 270px;
    height: 180px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    
}
.card-pelis img{
    width: 270px;
    height: 180px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}
#top-10{
    position: absolute;
    width: 40px;
    height: 50px;
    right: 1px;
    z-index: 3;
}
#logo-peli{
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
    width: 20px;
    height: 30px;
    z-index: 3;
}
#new-episodio{
    margin-top: 8px;
    position: absolute;
    width: 10%x;
    height: fit-content;
    padding: 5px;
    bottom: 10px;
    background-color: red;
    z-index: 3;
}