*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
}
body{
    background-color: black;
}
#logo{
    margin-left: 10px;
    width: 200px;
    height: 100px;
}
h1{
    text-align: center;
    font-size: 3.5vw;
    margin: 50px;
}
.perfiles{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.cartas{
    cursor: pointer;
    margin: 20px;
}
.imagen img:hover{
    border:  solid white;
}
.cartas a, h3{
    margin: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    opacity: 0.5;
}
.cartas h3:hover{
    opacity: 1;
}
.imagen img{
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
.admin{
    height: fit-content;
    width: fit-content;
    margin: auto;
    border: solid white 2px;
    font-size: 1.2vw;
    color: grey;
    padding: .5em 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.3;
}
.admin:hover{
    opacity: 1;
    color: white;
}